body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f0f0f0, #e0e0e0);
    color: #333;
}

header {
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

h1 {
    margin: 0;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.service-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease;
    width: 320px;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-10px);
}

.card-content {
    padding: 30px;
}

.card-content h2 {
    margin-top: 0;
    font-size: 26px;
    color: #333;
    font-weight: 400;
}

.card-content p {
    color: #666;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
